.gradle/
build/
run/
logs/
out/
.idea/
.vscode/
*.iml
*.log
*.jar
!gradle/wrapper/gradle-wrapper.jar
.DS_Store
.cache/
.local/
config/
schematics/
screenshots/
crash-reports/
*.litematic
*.nbt
*.dat
*.zip
!src/test/resources/interop/*.zip
*.disabled
*.replaced
